<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.persistence.EchangeMapper">

    <select id="getValidation" resultType="ca.usherbrooke.fgen.api.business.Echange">
    select valid
    from validationforechangerapide(#{arg0},#{arg1},#{arg2},#{arg3},#{arg4},#{arg5})
    </select>

    <select id="EchangeRapide" resultType="ca.usherbrooke.fgen.api.business.Echange">
    select valid
    from makeechange(#{arg0},#{arg1},#{arg2},#{arg3},#{arg4})
    </select>

    <select id="Matchmaking" resultType="ca.usherbrooke.fgen.api.business.Echange">

    </select>
</mapper>