<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.persistence.EchangeMapper">

    <select id="getValidation" resultType="ca.usherbrooke.fgen.api.business.Echange">
        select valid
        from validationforechangerapide('laja1501', 'pelf1504', 'E21', '1', 1, 2)

    </select>

    <select id="EchangeRapide" resultType="ca.usherbrooke.fgen.api.business.Echange">
    </select>

    <select id="Matchmaking" resultType="ca.usherbrooke.fgen.api.business.Echange">
        select

    </select>
</mapper>