html, body, #root, .App {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
}

.App-header, .App-body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.App-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  .App-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .App-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
